/*.b-container*/
  /*max-width 1500px*/
  /*margin 0 auto*/

.b-container__item
  display: inline-block

.b-container__banner
  margin 20px 0 40px 0
  text-align center

.b-container_padding
  padding 0 44px

.b-container__subbanner
  font-size 20px
  font-weight 300
  margin-bottom 15px
  text-align center

.b-container_loader
  padding 10px 20px 0 10px

.b-container_center
  text-align center

.b-container_middle
  width 1000px
  margin 0 auto

.b-container_middle_wide
  max-width 1600px !important
  width 100%




@import 'weather/weather.styl'