include ../../blocks/default
doctype html
html
    head
        //meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
        title Profile - Gewefope
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300')
        link(rel='stylesheet', href='/storage/css/default.css')
    body
        .b-page
            .b-container.b-header
                +b-logo('slogan', 'link')
                +b-user('header')
            .b-container
                h1.b-container__banner Profile



            +b-footer
        script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.2/zepto.min.js')
        script(src='/storage/js/global.js')
        script(src='/storage/js/pages/home.js')



        +i-stat