.b-search-header__pagename
  font-size 1.7em
  padding .8em 0 0 4em

  @media screen and (max-width: 760px)
    padding 0 1.5em 0 1.5em

.b-search-header__query
  font-size 1em
  border 1px dashed #dedede

.b-search-header__query:focus
  border 1px solid #96C0E6
