.b-footer
  position absolute
  bottom 0
  left 0
  width 100%
  box-sizing border-box

  @media screen and (max-width: 760px)
    position static
    padding-top 1.2em

.b-footer__table
  margin 0 auto
  max-width 1500px
  font-size .8em
  white-space normal

.b-footer__item
  line-height 1.5em
  padding-bottom 5px

.b-footer__table__col
  padding 0 10px 0 10px

.b-footer__table__col_right
  text-align right
  padding-right 10px

.b-footer__table__col_left
  text-align left
  min-width 50px
