

/*.b-user_header*/
  /*display inline-block*/
  /*padding 3px*/
  /*width calc(100% - 400px)*/
  /*text-align right*/
  /*white-space nowrap*/

  /*@media screen and (max-width: 600px)*/
    /*white-space normal*/

/*.b-user__item*/
  /*display inline-block*/
  /*vertical-align middle*/
  /*padding 0 0.3em*/

/*.b-user__avatar*/

/*.b-user__avatar_small*/
  /*width 30px*/
  /*height 30px*/


/*.b-user__name*/
  /*font-size 1.1em*/

/*.b-user__logout*/

/*.b-user__avatar__img*/
  /*border-radius 50%*/

/*.b-user__avatar_page*/
  /*width 200px*/
  /*height 200px*/
  /*margin 0 auto*/
  /*text-align center*/

.b-user
  &__name
    font-size 1.1em

    &__displayname
      font-size 30px

    &__fullname
      font-size 18px
      color #5c5c5c

  &__item
    display inline-block
    vertical-align middle
    padding 0 0.3em

  &__avatar
    &_small
      width 30px
      height 30px

    &__img
      border-radius 50%

    &_page
      width 200px
      height 200px
      margin 0 auto
      text-align center

  &_header
    display inline-block
    padding 3px
    width calc(100% - 400px)
    text-align right
    white-space nowrap

  &__profile
    /*text-align left*/
    padding 17px 0
    display table

    &_header
      display inline-block

    &__row
      display table-row

    &__item
      display table-cell
      font-size 17px
      width 498px

      &__title
        color #3d3d3d