include ../../blocks/default.jade
doctype 5
html.no-js
    head
        +i-head('Location')
        style.
            .b-logo__name{color: #fff}
    body.b-page
        .b-wcontent
            .b-header.b-container
                +b-logo('', 'link')
            .b-container-weather.b-container-weather_weather
                h1.b-weather__locname
                    span.b-weather__locname_city
                    span.b-weather__locname_country

                .b-weather-select
                    a(href='#now').b-weather-select__item.b-weather-select__item_now.b-weather-select__item_active Now
                    a(href='#forecast').b-weather-select__item.b-weather-select__item_forecast Forecast

                .b-weather-now.b-weather_active
                    .b-weather-now__data
                        .b-weather-now__data__main
                            span.b-weather-now__data__main_temp
                            span.b-weather-now__data__main_sky
                                span.b-weather-now__data__main_sky_descr
                                span.b-weather-now__data__main_sky_fdescr
                        .b-weather-now__data__wind.b-weather-now__data_sec
                            span.b-weather-now__data__wind_val
                        .b-weather-now__data__pres.b-weather-now__data_sec
                            span.b-weather-now__data__pres_val
                        .b-weather-now__data__hum.b-weather-now__data_sec
                            span.b-weather-now__data__hum_val

                .b-weather-forecast

            .b-container-weather.b-loader.b-loader_size_m
                span.b-loader__spinner

            .b-container-weather.b-container-weather_error
                .b-error
                    p.b-error__text No
            +b-footer('link')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/js/global.min.js')
        script.
            window.onload = function(){lego.weather_location()};
        script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyBmhXMS0sIZXZwLTg3xuiPeJF2x0PVpsf8&sensor=false&lang=en')
        .b-map#b-map
        +i-stat
                     