.b-logo
  display inline-block
  white-space nowrap

  @media screen and (max-width: 550px)
    display block

.b-logo__link
  border 0 none
  text-decoration none

.b-logo__name
  font 300 38px Linear, 'Open Sans', Arial, Helvetica, san-serif
  padding 6px 0 0 6px
  display inline-block
  color #000

.b-logo__slogan
  font 300 18px 'Open Sans', sans-serif
  padding 4px 0 0 10px
  display inline-block



.b-logo__link_weather
  color: #fff