include ../../blocks/default.jade
doctype html
html
    head
        //meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
        title Profile - Gewefope
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300')
        link(rel='stylesheet', href='/storage/css/default.css')
    body
        .b-page
            .b-container.b-header
                +b-logo('slogan', 'link')
                +b-user('header')
            .b-container.b-container_padding.b-container_center.b-container_middle
                h1.b-container__banner Profile
                .b-content__placeholder
                    .b-user__avatar.b-user__avatar_page




            +b-footer
        script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.2/zepto.min.js')
        script(src='/storage/js/global.js')
        script.
            window.onload = lego.checkAuth(function(){
                document.location = '/login';
            },
            function(){
                lego.userInfo_init();
            });
            window.onload = lego.userProfile();