

.b-weather__locname_city
  font 300 5em 'Open Sans', sans-serif

.b-weather__locname_country
  color #d3d3d3
  font 300 2em 'Open Sans', sans-serif

.b-weather_active
  display block !important

@import 'now/now.styl'
@import 'forecast/forecast.styl'
@import 'select/select.styl'