//TODO: Здесь хак с картой, надо исправить

#b-map
  height 1200px
  margin 0
  padding 0

  @media screen and (max-width: 1340px)
    height 800px

  @media screen and (max-width: 760px)
    height 650px

  @media screen and (max-width: 600px)
    height 500px

  @media screen and (max-width: 300px)
    height 250px
