html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  font-family: 'Open Sans', sans-serif
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block;

body
  line-height: 1;

ol, ul
  list-style: none;

blockquote, q
  quotes: none;

blockquote:before, blockquote:after,
q:before, q:after
  content: '';
  content: none;

table
  border-collapse: collapse;
  border-spacing: 0;

html, body
  font: 14px / 28px 'Open Sans', sans-serif
  height 100%

a
  color: #fae6f3

@import 'all'

.b-page
  color #fff

.b-logo__link
  color: #fff
  text-decoration none

/*  b-map  (begin)  */
.b-map, #map-canvas
  height 100%

/*  b-map  (end)  */

/*  b-wcontent  (befin)  */
.b-wcontent
  position absolute
  z-index 20
  background: rgba(0, 0, 0, 0.5)
  width 100%
  height 100%
  color #fff !important

/*  b-wcontent  (end)  */

/*  b-wcontainer  (begin)  */
.b-wcontainer
  width 100%
  padding 10px 20px
  margin-bottom - 100px

.b-wcontainer_weather
  padding 3em 15em 0 15em

.b-wcontainer_error
  z-index 30
  display none

/*  b-wcontainer  (end)  */
/*
.b-content
  position absolute
  z-index 20
  background rgba(0,0,0,0.5)
  width 100%
  height 100%
  color #fff
.b-content_loading
  opacity 0.2
*/

/*  b-weather  (begin)  */
//.b-weather

.b-weather-now
  display none



.b-weather-now__data
  padding 1.5em 0 0 3em

.b-weather-now__data__main_temp
  font-size 2em

.b-weather-now__data__main_sky
  padding-left 1.5em

.b-weather-now__data__main_sky_descr
  font-size 2em

.b-weather-now__data__main_sky_fdescr
  padding-left 7px
  font-size 1.3em
  color #d3d3d3

.b-weather-now__data_sec
  padding-top 15px
  font-size 1.6em

.b-weather__locname_city
  font 300 5em 'Open Sans', sans-serif

.b-weather__locname_country
  color #d3d3d3
  font 300 2em 'Open Sans', sans-serif

/* .b-weather-select */
.b-weather-select__item
  display inline-block
  padding-right 1.1em
  font-size 1.2em
  color #fff

.b-weather-select__item:last-child
  padding-right 0

.b-weather-select__item_active
  font-size 1.4em
  text-decoration none

/* .b-weather-forecast  */
.b-weather-forecast
  display none;






.b-weather_active
  display block !important



.b-error
  position absolute
  width 100%
  text-align center
  color #ff8282

.b-error__text
  font-size 25em
  font-weight 300
  padding-top 0.4em





