.b-weather-select__item
  display inline-block
  padding-right 1.1em
  font-size 1.2em
  color #fff

.b-weather-select__item:last-child
  padding-right 0

.b-weather-select__item_active
  font-size 1.4em
  text-decoration none