.b-weather-now
  display none

.b-weather-now__data
  padding 1.5em 0 0 3em

.b-weather-now__data__main_temp
  font-size 2em

.b-weather-now__data__main_sky
  padding-left 1.5em

.b-weather-now__data__main_sky_descr
  font-size 2em

.b-weather-now__data__main_sky_fdescr
  padding-left 7px
  font-size 1.3em
  color #d3d3d3

.b-weather-now__data_sec
  padding-top 15px
  font-size 1.6em