.b-chcontainer
  text-align center
  margin 0 auto
  padding-top 7%

  @media screen and (max-width: 760px)
    padding-top 0

.b-chcontainer__item
  display inline-block
  width 200px

.b-chcontainer__item_invis
  display none

.b-chcontainer__item_vis
  display inline-block !important

.b-chcontainer__item__form
  display none
  width 200px
  height 140px
  vertical-align middle

.b-chcontainer__item__form__input
  width 178px
  vertical-align middle
  border 1px solid #c4c4c4

  @media screen and (max-width: 760px)
    width 100%

.b-chcontainer__item__form__button
  border 0 none
  width 20px
  background url() #fff

.b-chcontainer__item__form__input:focus
  outline none
  border-color #96C0E6