.b-wlist
  padding 2em 0 2em 3em

.b-wlist__error
  font-size 2em
  color #98002b

.b-wlist__line
  border-left 4px solid #dedede
  margin-bottom 20px
  padding 5px 0 5px 10px

.b-wlist__line:hover, .b-wlist__line:focus
  border-left-color #f00

.b-wlist__link
  font-size 1.34em
  color #03003f

.b-wlist__country
  font-size 1.23em

.b-wlist__temp
  font-size 1.4em

.b-wlist__sky
  padding-left 1em