.b-form
  color inherit
  padding 0.7em 1em

.b-form__block
  display inline-block
  width 50%
  min-width 300px
  vertical-align top

.b-form__blcok__content
  padding 0.3em 0.8em

.b-form__item
  padding 0.5em 0

.b-form__item__label
  font-size 16px
  display block

.b-form__input
  font-size 16px
  border 1px solid #C4C4C4
  width 250px
  height 30px


.b-form__input_submit
  background #E2F6FE
  border 1px solid #0090C9


.b-form__error__descr
  color #ff0000
  font-size 1.2em

.b-form__error
  visibility hidden
  transition: visibility 1s ease-out 0.5s

.b-form__error_visible
  visibility visible !important


.b-form_border
  border 1px solid #bfbfbf

.b-form_center
  margin 0 auto
  text-align center
  width 380px

.b-form__submit
  background-color #00b7ff
  width 100px
  height 30px
  color #fff
  font-size 16px
  border 0

.b-form__note
  padding 8px
  text-overflow ellipsis