.b-weather-forecast
  display none

.b-weather-forecast__line
  border-bottom 1px solid #fff
  padding-bottom 4px
  width 400px

.b-weather-forecast__section
  display inline-block

.b-weather-forecast__section__date
  transform: rotate(90deg)