.b-weather-forecast
  display none

.b-weather-forecast__line
  border-bottom 1px dashed #cfcfcf
  padding 1px 5px 4px 5px
  width 400px
  font-weight 400

  :last-child
    border 0

.b-weather-forecast__section
  display inline-block

.b-weather-forecast__section__date
  transform: rotate(90deg)

.b-weather-forecast__section__day
  font-size 1.5em
  padding-right 5px

.b-weather-forecast__temp_max
  font-size 1.3em

.b-weather-forecast__temp_min
  font-size 1em